<%= turbo_frame_tag "pets-list"   do %>
  <div class="container-fluid scaffold-list">
    
      <h4>
        PETS
      </h4>
    

    <%= render partial: "dashboard/pets/new_button", locals: {} %><br />

    
      
        <div class="row scaffold-heading-row">
          <div class='col-md-1'>Name</div>
          

          

          <div class=' scaffold-col-heading scaffold-col-heading-buttons col-md-2' >

          </div>
        </div>
      

      <% if pets.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% pets.each do |pet| %>
        <%= render partial: 'dashboard/pets/line', locals: {pet: pet}
            .merge(defined?(nested_for) ? {nested_for: nested_for} : {})
      
        %>
      <% end %>
    <% if pets.respond_to?(:total_pages) %><%= paginate(pets) %> <% end %>
  
  </div>
<% end %>
