

<div class="container-fluid">
  <div class="row"> <div class="col-md-12">
  

  <div class="clearfix"></div>
  <%= render partial: 'dashboard/pets/list',
    locals: {pets: @pets} %>

  </div></div>
</div>
