<%= turbo_frame_tag "appointment-new" do %>
  <div>
    <%= link_to "New APPOINTMENT",  new_admin_appointment_path, disable_with: "Loading...", class: "new-appointment-button btn btn-primary pull-right  " %>
  </div>
<% end %>
